src/__pycache__/
src/.pytest_cache/
__pycache__/
.DS_Store
src/output/
src/output files/
src/output-files/
build/
output files/
build/*
src/cdp.egg-info/
Cards/Images/affinity designs/
Cards/Images/Source/
